.App {
  text-align: center;
}

.nav_bar {
  height: 50px;
  background-color: rgb(209, 127, 127);
}

.side_bar {
  height: 100vh;
  background-color: rgb(76, 76, 142);
  width: 300px;
  position: fixed;
}

main {
  background-color: lightgreen;
  margin-left: 300px;
  height: 1000px;
}
